<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <!-- Indiquez ici la ligne de commande à appeler pour lancer votre programme sachant que l'ip et le port seront ajoutés automatiquement -->
      <add key="commandline" value="controller.exe"/>
      
      <!-- Indiquez ici l'adresse du master du tournoi -->
      <add key="ipmaster" value="127.0.0.1"/>

      <!-- Indiquez ici le port du master du tournoi -->
      <add key="portmaster" value="666"/>

      <!-- Indiquez ici le nom de votre équipe -->
      <add key="team" value="FSVY"/>

      <!-- MODE TEST -->
      <!-- Passez à True pour faire démarrer le test -->
      <add key="testmode" value="True"/>
      
      <!-- IP et port pour test-->
      <add key="testip" value="127.0.0.1"/>
      <add key="testport" value="5556"/>
    </appSettings>
</configuration>